.portfolio__container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem;
    text-align: center;
}

.portfolio__item{
    background: var(--color-bg-variant);
    padding: 1.3rem;
    border-radius:1.5rem ;
    border: 2px solid transparent;
    transition: var(--transition);
    margin-right: 50%;
}

.portfolio__item:hover{
    background: var(--color-prymary-variant);
    background: transparent;
    border-color: var(--color-primary);
}

.portfolio__item-image{
    border-radius: 1.5rem;
    overflow: hidden;
}

.portfolio__item h3{
    margin: 1.2rem 0 2rem;
}

.portfolio__item-cta {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

/*============== MEDIA QUERIES (MEDIUM DEVICES) ==============*/
@media screen and (max-width: 1024px){
    #portfolio{
        transform: translateY(-150%);
    }

    .portfolio__container{
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
        height: 0;
    }
   
}

/*============= MEDIA QUERIES (SMALL DEVICES)===============*/
@media screen and (max-width: 600px){

    .portofolio__container{
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}