ul {
    display: grid;
    margin: 0;
    padding: 0;
    background-color: var(--color-bg-variant);
}

.object {
    font-size: 1rem;
}

li {
    font: left;
}

li {
    float: left;
}

li a {
    display: inline-block;
    text-align: center;
    padding: 12px 20px;
}

li a:hover {
    background: var(--color-bg);
}

/*============== MEDIA QUERTES (SMALL DEVICE) ============== */
@media screen and (max-widht: 620px){
    li a {
     padding: 14px 18;
     gap: 1rem;
     font-size: 0.5rem;
    }

    .object{
        font-size: 1rem;
    }
}